@model WebTecnoPro.Models.Empleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Ventas.css">

<h2 class="h2">Eliminar Empleado</h2>

<div class="abs container">
    <div class="row">
        <div class="col-lg-1">
            <div class="panel-default border border-secondary" style="backdrop-filter:blur(1rem); margin-top: 20px; border-radius: 20px; padding: 0px 65px; ">
                <div class="panel-heading">
                    <br>
                    <h5 style="text-align:center; padding:1rem 0; color:white;">Eliminar</h5>
                </div>
                <div class="panel-body" style="padding:0 1rem; color: white;">
                    <p>
                        Nombre:
                        @Html.DisplayFor(model => model.nombre)
                    </p>
                    <p>
                        Apellido:
                        @Html.DisplayFor(model => model.apellido)
                    </p>
                    <p>
                        Genero:
                        @Html.DisplayFor(model => model.genero)
                    </p>
                    <p>
                        Dui:
                        @Html.DisplayFor(model => model.dui)
                    </p>
                    <p>
                        Telefono:
                        @Html.DisplayFor(model => model.telefono)
                    </p>
                    <p>
                        Direccion:
                        @Html.DisplayFor(model => model.direccion)
                    </p>
                    <p>
                        Estado:
                        @Html.DisplayFor(model => model.estado)
                    </p>
                    <p>
                        Correo Electronico:
                        @Html.DisplayFor(model => model.Usuario.correo)
                    </p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="btn-detalle" style="margin: 10px 71px;">
                            @Html.ActionLink("Volver", "Index")
                        </div>
                        <div class="form-actions" style="margin: 10px 82px;">
                            <button type="submit" value="Delete" class="btn btn-danger">Eliminar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

