@model WebTecnoPro.Models.Venta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Ventas.css">

<h2 class="h2">Detalles</h2>

<div class="abs container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel-default border border-secondary" style="backdrop-filter:blur(1rem); margin-top: 20px; border-radius: 20px; ">
                <div class="panel-heading">
                    <br>
                    <h5 style="text-align:center; padding:1rem 0; color:white;">Detalles de Venta</h5>
                </div>
                <div class="panel-body" style="padding:0 1rem; color: white;">
                    <p>
                        Nombre:
                        @Html.DisplayFor(model => model.nombreCliente)
                    </p>
                    <p>
                        Nombre del Producto:
                        @Html.DisplayFor(model => model.Producto.nombre)
                    </p>
                    <p>
                        Descripcion:
                        @Html.DisplayFor(model => model.descripcion)
                    </p>
                    <p>
                        Cantidad:
                        @Html.DisplayFor(model => model.cantidad)
                    </p>
                    <p>
                        Fecha:
                        @Html.DisplayFor(model => model.fecha)
                    </p>
                    <p>
                        Estado:
                        @Html.DisplayFor(model => model.estado)
                    </p>
                    <p>
                        Nombre de Empleado:
                        @Html.DisplayFor(model => model.Empleado.nombre)
                    </p>
                    <p>
                        Total:
                        @Html.DisplayFor(model => model.total)
                    </p>
                    <div class="btn-a">
                        @Html.ActionLink("Actualizar", "Edit", new { id = Model.idVenta })
                    </div>
                    <div class="btn-b">
                        @Html.ActionLink("Atras", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>