@model WebTecnoPro.Models.Producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Crear.css">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body class="fondo">
        <div class="form-horizontal">
            <p style="font-size: 40px">Agregar producto</p>
            <br />
            <hr />
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombre</label>
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Cantidad</label>
                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Precio</label>
                    @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Detalles</label>
                    @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Marca</label>
                    @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Modelo</label>
                    @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Codigo</label>
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                </div>

                @*<div class="col-md-6">
                        <label for="inputCity" class="form-label">Imagen</label>
                        @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
                    </div>*@

                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Estado</label>
                    @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
                <div style="margin-bottom: 20px;">


                </div>
                <div class="col-12" style="margin-bottom: 20px;">

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>

        </div>
    </body>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
