@model WebTecnoPro.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/detailsP.css">

<h2 class="h2">Detalles</h2>

<div class="abs container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel-default border border-secondary" style="backdrop-filter: blur(1rem); margin-top: 20px; border-radius: 20px; padding: 0px 65px;">
                <div class="panel-heading">
                    <br>
                    <h5 style="text-align:center; padding:1rem 0; color:white;">Detalles de Producto</h5>
                </div>
                <div class="panel-body" style="padding:0 1rem; color: white;">
                    <p>
                        Imagen:
                        <img width="100" height="100" src="@Url.Action("getImage","Productos", new {id=Model.idProducto})" class="im" />
                    </p>
                    <p>
                        Nombre Producto:
                        @Html.DisplayFor(model => model.nombre)
                    </p>
                    <p>
                        Cantidad:
                        @Html.DisplayFor(model => model.cantidad)
                    </p>
                    <p>
                        Precio:
                        @Html.DisplayFor(model => model.precio)
                    </p>
                    <p>
                        Detalle:
                        @Html.DisplayFor(model => model.detalle)
                    </p>
                    <p>
                        Marca:
                        @Html.DisplayFor(model => model.marca)
                    </p>
                    <p>
                        Modelo:
                        @Html.DisplayFor(model => model.modelo)
                    </p>
                    <p>
                        Codigo Producto:
                        @Html.DisplayFor(model => model.codigo)
                    </p>
                    <div class="btn-b">
                        @Html.ActionLink("Atras", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
