@model IEnumerable<WebTecnoPro.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/Productos.css">

<h2 class="h2">Desactivos</h2>

<div class="btn-volver">
    @Html.ActionLink("Atras", "Index")
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="panel-default border border-secondary" style="backdrop-filter:blur(1rem); margin-top: 20px; border-radius: 20px; ">
                    <div class="panel-heading">
                        <br>
                        <img id="img" src="~/Content/Imgs/TecnoProIcono.jpg" width="120" height="80" />
                        <h5 style="text-align:center; padding:1rem 0; color:white;">Productos</h5>
                    </div>
                    <div class="panel-body" style="padding:0 1rem; color: white;">
                        <p>
                            Nombre:
                            @Html.DisplayFor(modelitem => item.nombre)
                        </p>
                        <p>
                            Marca:
                            @Html.DisplayFor(modelitem => item.marca)
                        </p>
                        <p>
                            Modelo:
                            @Html.DisplayFor(modelitem => item.modelo)
                        </p>
                        <p>
                            Precio:
                            @Html.DisplayFor(modelitem => item.precio)
                        </p>


                        <div class="btn-detalle">
                            @Html.ActionLink("Detalles", "Details", new { id = item.idProducto })
                            @Html.ActionLink("Actualizar", "Edit", new { id = item.idProducto })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idProducto })

                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

</div>
<br>