@model WebTecnoPro.Models.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Ventas.css">

<h2 class="h2">Eliminar Usuario</h2>

<div class="abs container">
    <div class="row">
        <div class="col-lg-1">
            <div class="panel-default border border-secondary" style="backdrop-filter:blur(1rem); margin-top: 20px; border-radius: 20px; ">
                <div class="panel-heading">
                    <br>
                    <h5 style="text-align:center; padding:1rem 0; color:white;">Eliminar</h5>
                </div>
                <div class="panel-body" style="padding:0 1rem; color: white;">
                    <p>
                        Nombre:
                        @Html.DisplayFor(model => model.correo)
                    </p>
                    <p>
                        Cantidad:
                        @Html.DisplayFor(model => model.contra)
                    </p>
                    <p>
                        Precio:
                        @Html.DisplayFor(model => model.estado)
                    </p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="btn-detalle" style="margin: 10px 71px;">
                            @Html.ActionLink("Volver", "Index")
                        </div>
                        <div class="form-actions" style="margin: 10px 82px;">
                            <button type="submit" value="Delete" class="btn btn-danger">Eliminar</button>
                        </div>
                        <div class="mb-3">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>@ViewBag.Mensaje</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br>