@model IEnumerable<WebTecnoPro.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/Content/Crear.css">
<body class="fondo3" >
    <br />
    <div class="text-light">
        <p style="font-size:60px">Usuarios</p>
    </div>
    <div class="mb-3">
        @Html.ActionLink("Agregar", "Create", new { @class = "btn btn-primary" })
    </div>



    <table class="table">
        <thead class="text-light">
            <tr>
                <th>
                    Gmail
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.correo)
                </td>

                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td class="text-light">
                    @Html.ActionLink("Actualizar", "Edit", new { id = item.idUsuario }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.idUsuario }) |
                    @Html.ActionLink("Estado", "Activar", new { id = item.idUsuario }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idUsuario })
                </td>
            </tr>
        }

    </table>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 table-bordered" >
            <h2>Correo Electronico</h2>
            <p>
                @Html.DisplayFor(modelItem => item.correo)
            </p>
            <p>@Html.DisplayFor(modelItem => item.estado)</p>
            <p> @Html.DisplayFor(modelItem => item.contra)</p>
        </div>

    }
    </div>*@
